{{ define "main"}}

{{ partial "page/hero.html" . }}
<h2>Berdasarkan Tag</h2>
<div class="list-arsip">
<ul>
  {{ range .Site.Taxonomies.tags }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><span>{{ .Count }}</span></li>
  {{ end }}
</ul>
</div>
<h2>Berdasarkan Series</h2>
<div class="list-arsip">
<ul>
  {{ range .Site.Taxonomies.series }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><span>{{ .Count }}</span></li>
  {{ end }}
</ul>
</div>
<!-- Groups content by month according to the "date" field in front matter -->
<h2>Berdasarkan Tanggal</h2>
{{ $posts := partialCached "func/GetArticles" . "articles" }}
{{ $byYear := $posts.GroupByDate "2006"}}
{{ range $byYear }}
{{ $countPosts := len .Pages }}
<h3 class="collapsible">{{ .Key }} <span>{{ $countPosts }}</span></h3>
<div id="collapsible-items">
<ul>
    {{ range .Pages }}
    <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a> &mdash;
    <div class="meta">{{ .Date.Format "2 January" }}</div>
    </li>
    {{ end }}
</ul>
</div>
{{ end }}
{{ $script := resources.Get "js/collapse.js" }}
<script inline async src="{{ $script.RelPermalink }}"></script>
{{ end }}

