{{ define "main"}}

{{ partial "page/hero.html" . }}
<h2>Berdasarkan Tag</h2>
<div class="list-arsip">
<ul>
  {{ range .Site.Taxonomies.tags }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><span>{{ .Count }}</span></li>
  {{ end }}
</ul>
</div>
<h2>Berdasarkan Series</h2>
<div class="list-arsip">
<ul>
  {{ range .Site.Taxonomies.series }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><span>{{ .Count }}</span></li>
  {{ end }}
</ul>
</div>
{{ partial "articles/articles.html" . }}

{{ end }}