{{ define "main" }}

<form name="contact" class="contact" method="POST" data-netlify="true">
    <p>
    <div class="inline-form">
    <div class="inline-form-child">
      <label for="name">Nama</label><br/>
      <input type="text" name="name" />
      </div>
      <div class="inline-form-child">
      <label for="email">Email*</label><br/>
      <input type="email" name="email" required />
      </div>
      </div>
    </p>
    <p>
        <div class="form-child">
        <label for="subject">Subjek*</label><br/>
        <input name="Subjek" required />
        </div>
      </p>
    <p>
        <div class="form-child">
      <label for="message">Pesan*</label><br/>
      <textarea name="message" required></textarea>
      </div>
    </p>
    <p>
      <button type="submit">Kirim</button>
    </p>
  </form>
  <p style="font-size:15px;color:var(--grey)">* Wajib diisi.</p>
  
    
{{ end }}