{{ define "main" }}
<div class="contact">
<h1>Nyapa</h1>
<p>Hubungi saya tentang apa saja yang berkaitan dengan blog ini. Bebas, mulai dari kritik artikel atau sekadar menyapa saya.</p>
<p style="font-size:15px;color:var(--grey)"><sup>*</sup> Wajib diisi.</p>
<form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
    <p>
    <div class="inline-form">
    <div class="inline-form-child">
      <label for="name">Nama<sup> </sup></label><br/>
      <input type="text" name="name" placeholder="Ex. Wahyu Agus"/>
      </div>
      <div class="inline-form-child">
      <label for="email">Email<sup>*</sup></label><br/>
      <input type="email" placeholder="emailkamu@domain.com" name="email" required 
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
      </div>
      </div>
    </p>
    <p>
        <div class="form-child">
        <label for="subject">Subjek<sup>*</sup></label><br/>
        <input name="Subjek" placeholder="Perihal apa pesan ini?" required />
        </div>
      </p>
    <p>
        <div class="form-child">
      <label for="message">Pesan<sup>*</sup></label><br/>
      <textarea name="message" required placeholder="Isi pesan kamu..." rows="5"></textarea>
      </div>
    </p>
    <p>
        <p style="font-size:15px;">
        Isi CAPTHCHA di bawah ini, jika tidak pesan akan dianggap sebagai <b style="color:var(--error);background:#ee565b2e;padding:1px 10px 4px;border-radius:20px"><svg style="vertical-align: sub;margin-right:5px" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
          </svg>Spam</b>.
        <div data-netlify-recaptcha="true"></div>
        </p>
      <button type="submit">Kirim</button>
    </p>
  </form>
  </div>
    
{{ end }}