{{ define "main" }}
<div class="contact">
<h1>Nyapa</h1>
<p>Hubungi saya tentang apa saja yang berkaitan dengan blog ini. Bebas, mulai dari kritik artikel atau sekadar menyapa saya.</p>
<form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
    <p>
    <div class="inline-form">
    <div class="inline-form-child">
      <label for="name">Nama</label><br/>
      <input type="text" name="name" placeholder="Ex. Wahyu Agus"/>
      </div>
      <div class="inline-form-child">
      <label for="email">Email *</label><br/>
      <input type="email" placeholder="emailkamu@domain.com" name="email" required 
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
      </div>
      </div>
    </p>
    <p>
        <div class="form-child">
        <label for="subject">Subjek *</label><br/>
        <input name="Subjek" placeholder="Perihal apa pesan ini?" required />
        </div>
      </p>
    <p>
        <div class="form-child">
      <label for="message">Pesan *</label><br/>
      <textarea name="message" required placeholder="Isi pesan kamu..." rows="5"></textarea>
      </div>
    </p>
    <p>
        <p style="font-size:15px;">
        Isi CAPTHCHA di bawah ini, jika tidak pesan akan dianggap sebagai <b style="color:var(--error);background:#ee565b2e;padding:3px 13px;border-radius:20px"><svg style="vertical-align:sub" width="17px" height="17px" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg> Spam</b>.
        <div data-netlify-recaptcha="true"></div>
        </p>
      <button type="submit">Kirim</button>
    </p>
  </form>
  <p style="font-size:15px;color:var(--grey)">* Wajib diisi.</p>
  </div>
    
{{ end }}