<div class="picture">
  <p style="text-align: center;">
  {{ if .Get "caption"}}
  <figure style="text-align: center;color:var(--articleText)">
  {{ end }}
  <span class="lazyload" style="width:100%;max-width:{{ .Get "width" }};">
      <img
        loading = "lazy"
        data-original="{{ .Get "src" }}.{{ .Get "type" }}"
        data-original-set="{{ .Get "src" }}@2x.{{ .Get "type" }} 2x"
        alt="{{ .Get "alt" }}" src="{{ .Get "src" }}" style="width:100%;max-width:{{ .Get "width" }};height:auto"/>
        </span>
  {{ if .Get "caption"}}
    <figcaption style="margin-top: 10px;font-size:12px">{{ .Get "caption" }}</figcaption>
  </figure>
  {{ end }}
  </p>
</div>