<div style="text-align:center">
<p></p>
<figure class="video_container" style="width:{{ .Get "width" }};margin:0 auto;">
  <video controls="true" allowfullscreen="true" poster="{{ .Get "poster" }}" width="100%">
    <source src="{{ .Get "src" }}" type="video/mp4"/>
  </video>
</figure>
{{ if .Get "caption" }}
      <figcaption style="max-width:{{ .Get "width" }}" class="{{ with .Get "captionPosition"}}{{ . }}{{ else -}} center {{- end }}" {{ with .Get "captionStyle" }} style="{{ . | safeCSS }}" {{ end }}>{{ .Get "caption" }}</figcaption>
    {{ end }}
    <p></p>
</div>
